.espacador {
  flex: 1 1 auto;
}

.tabela-container {
  padding: 15px;
}

.fullWidth {
  width: 100%;
}

.input-container {
  padding: 1rem;
}

.botao-adicionar {
  margin-left: 1rem;
}

.toggle-container {
  margin: 15px;
  display: flex;
}
