.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.titulo {
  flex: 1;
  margin: 0 16px;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}
