.layout-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

.conteudo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}
